


  .right {
    float: right;
  }

  div.block {
    width: 45vw;
    height: 20vh;
    border: 2px solid black;
  }

  .top {
    margin-bottom: 10px;
  }

  .bottom {
    margin-top: 20px;
  }

  .ruler {
    height: 20px;
  }

    .a{
    width: 45vw;
    height: 20vh;
    background-color: blueviolet;
    border: 30px solid black;
    }
    .b{
    width: 20vw;
    height: 10vh;
    background-color:brown;
    }

  .float-block {
    width: 200px;
    float: right;
}